		body{
			margin:0;
		}	
		/* Style the top navigation bar */
		.topnav {
		    overflow: hidden;
		    background-color: white;
			margin-left: 10%;
			margin-top: 2%;
		}

		/* Style the topnav links */
		.topnav a {
			color: #787878;
			font-size: 15px;
		    float: left;
		    display: block;
		    text-align: center;
		    padding: 1px 16px;
		    text-decoration: none;
		    border-right: 1px solid #787878;
		}

		.topnav a:last-child {
 		   border-right: none;
		}

		.footer a:last-child {
 		   border-right: none;
		}

		.topnav a:first-child{
			border-right: none;
		}

		.footer a:first-child{
			margin-left: 10%;
		}

		.topnav select{
			color: #787878;
			margin-left: 100px;
		    padding: 1px 5px;
		}

		.topnav img{
    		 width:70px;
    	}
    	
    	/*style header*/
		.header{
			background-color: #f1f1f1;
			padding: 200px;
			text-align: center;
		}

		/* Style the footer */
		.footer {
		    background-color: black;
		    padding: 13px;
		    text-align: center;
		    color: gray;
		}
		.footer a{
			color: #787878;
			font-size: 12px;
		    float: left;
		    display: block;
		    text-align: center;
		    padding: 1px 10px;
		    text-decoration: none;
		    border-right: 1px solid #787878;
		    margin-top: 1%;	
		}
		.footer p{
			text-align: center;
		}
